form#signup {
  margin-top: 1em;
  width: 70%;

  .btnCols {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.5em;
  }
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
